# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Git
.git
.gitignore

# Environment (development)
.env
.env.local
.env.development

# Build
dist
coverage

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Documentation
README.md

# Docker
docker-compose.yml