ALLOWED_ORIGINS=https://jimpitan-desa-pesu-6fd6.vercel.app,http://localhost:3000
NODE_ENV=DEVELOPMENT
DATABASE_URL=postgresql://jimpitan_user:jimpitan_pass@localhost:5432/jimpitan_db
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=4d
JWT_COOKIE_EXPIRES_IN=6
PORT=5000
